</div>

<div class="footer">
    <div class="container">
        <footer class="py-3 my-3">
          <p class="text-center text-body-secondary">© 2024 Durjoy, JUST</p>
        </footer>
      </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-qbB8fr2tYp8VpzA7y2A/J9vlY0BlBtWzrsE2p4Ln/SmjKqv5Yyk5I5FRXbYHdMox" crossorigin="anonymous"></script>
</body>
</html>