<%- include("partials/header"); -%>

<h1>Contact</h1>

<% contactPassage.forEach(function(element){ %>
 
     <p style="text-align: center;"> 
         <%= element %> 

     </p>
 
 <% }) %>

<%- include("partials/footer"); -%>